[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[user]
  name = Jordan Hoare
  email = jordan.hoare@outlook.com

[core]
  editor = code --wait

[init]
  defaultBranch = main

[branch]
  autosetuprebase = always

[pull]
  rebase = true

[push]
  default = current
  autoSetupRemote = true

[alias]
  use-main = "!git config user.name 'Jordan Hoare' && git config user.email 'jordan.hoare@outlook.com' && echo 'Switched to main profile'"

[credential]
	helper = store

[safe]
  directory = /mnt/d/repositories/second-brain

[includeIf "gitdir:/mnt/e/PoE/Dev/"]
  path = /mnt/e/PoE/Dev/.gitconfig_game

[commit]
  gpgSign = false
